body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}    
.yellow{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
  
}
.half-width{
    width: 50%;
    padding-left: 6%;
    
}
.link-open{
    text-decoration: none;
    color: #fff;
    background-color: orange;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
}
#passion{
    color: orange;
    font-weight: 600;
}

#grad {
    background-image: linear-gradient(to right, red , yellow);
  }
  .image{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
  }
  .secod-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 110px;
  }
  .expereience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    

  }

  .ex-item{
    box-shadow: 10px 10px 10px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
  }
 
  #border-1{
    border-left: 7px solid orange;
  }
  
 
  #border-2{
    border-left: 7px solid blue;
  }
  footer{
    text-align: center;
  }